[submodule "Packages/Custom_URP"]
	path = Packages/Custom_URP
	url = https://github.com/af8a2a/Custom_URP.git
	branch = URP17
[submodule "Packages/URP_Extension_CoreRP"]
	path = Packages/CoreRP
	url = https://github.com/af8a2a/CoreRP
	branch = master
